*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 50px 1fr;
} 
.header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color:rgb(26,43,60);
    align-items: center;
    grid-area: 1/1/2/2;    
}
.logo{
    width: 100px;
    height: 50px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/newlogo_260x50.png);
    background-size: 244px 48px;
    background-position: 0px 1px;
}
.sound-container{
    display : flex;
    width: 200px;
    height: 50px;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}
.sound-dv{
    width: 28px;
    height: 28px;
    background-color: #1d2e3e;
    border: 1px solid #253442;
    font-family: 'Material Icons';
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    border-radius: 3px;
    color: whitesmoke;
    cursor: pointer;
}
.search-container{
    display: flex;
    width: 698px;
    height: 50px;
    align-items: center;
    padding-left: 7px;
    flex-grow: 1;
}
.drop-dv{
    display: flex;
    width: 157px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(38,56,73);
    border-right: 1px solid #3c3c3c;
    cursor: pointer;
}
.search-icon{
    width: 35px;
    height: 40px;
    font-family: 'Material Icons';
    font-size: 22px;
    text-align: center;
    line-height: 41px;    
    color: #afb3b7;
}
.txt-dv{
    width: 90px;
    height: 40px;
    font-family: sans-serif;
    line-height: 41px;
    color: #afb3b7;
    font-size: 14px;
}
.arrow-dv{
    width: 25px;
    height: 40px;
    font-family: 'Material Icons';
    font-size: 27px;
    text-align: center;
    line-height: 41px;
    color: #afb3b7;
}
#iput{
    width: 290px;
    height: 40px;
    background-color: rgb(38,56,73);
    outline: none;
    border: none;
    padding-left: 22px;
    font-size: 15px;
    color: white;
    border-radius: 0px 5px 5px 0px;
}
#iput::placeholder{
    color: grey;
}
.plus{
    width: 40px;
    height: 40px;
    background-color: rgb(38,56,73);
    font-family: 'Material Icons';
    margin-left: 10px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #afb3b7;
    cursor: pointer;
}
.icons-dv{
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    grid-gap: 8px;
}
.icon1,.icon2,.icon3,.icon4,.icon5{
    width: 30px;
    height: 30px;
    /* background-color: rgb(201, 209, 84); */
    font-family: 'Material Icons';
    font-size: 20px;
    color: #adadad;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px; 
    cursor: pointer;   
}
.icon1:hover,.icon2:hover,.icon3:hover,.icon4:hover,.icon5:hover{
    background-color: #030303;
    color: #6CA534;
}
#test{
     width: 10px;
     height: 15px;
     border-right: 1px solid grey;
}
.profile{
    width: 35px;
    height: 35px;
    background-color: teal;
    border-radius: 6px;
    background-image: url(https://contacts.zoho.in/file?ID=60012219164&exp=6000&t=user&fs=thumb);
    background-size: cover;
}
#round{
    width: 12px;
    height: 12px;
    background-color:green;
    margin-left: 30px;
    margin-top: 11px;
    border-radius: 10px;
    border: 2px solid black;
}
.Apps{
    width: 35px;
    height: 35px;
    border-radius: 6px;
    margin-left: 10px;
    border-radius: unset;
    display: flex;
    font-family: 'Material Icons';
    justify-content: center;
    align-items: center;
    font-size: 31px;
    color: #7c7979;
    background-color: transparent;
    cursor: pointer;
}
.subcontainer{
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    height: auto;
    /* background-color: red; */
    grid-area: 2/1/2/2;
}
.left-container{
    grid-area: 1/2/1/1;
    background-color: rgb(26,43,60);
    border-right: 1px solid #223140;
}
.login-dv{
    display: flex;
    width: 100%;
    height: 8%;
    align-items: center;
    background-color: rgb(22,53,73);
    border-left: 2px solid #6CA534;
    border-bottom: 2px solid rgba(0,0,0,0.25);
    border-top: 2px solid rgba(0,0,0,0.25);
}
.login-dv h3{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}
.timing-dv{
    display: flex;
    width: 170px;
    height: 45px;
    align-items: center;
    justify-content: end;
}
.timer{
   font-size: 12px;
   color: white;
   font-family: sans-serif;
   visibility: hidden;
}
.togglebtn{
    position: relative;
    display: inline-block;
    width: 33px;
    height: 19px;
    margin-left: 7px;
}
.togglebtn1{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 17px;
    margin-left: 17px;
    margin-top: 50px;
}
.togglebtn input,.togglebtn1 input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(58,84,108);
    transition: .4s;
}
.slider1{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(58,84,108);
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 14px;
    left: 3px;
    bottom: 2px;
    background-color: #1A2B3C;
    transition: .4s;
} 
.slider1:before{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: black;
    transition: .4s;
}
input:checked + .slider,input:checked + .slider1 {
    background-color: #2196F3;
  }
  
input:focus + .slider,input:focus + .slider1  {
    box-shadow: 0 0 1px #2196F3;
} 
input:checked + .slider:before {
    transform: translateX(14px);
}
input:checked + .slider1:before {
    transform: translateX(10px);
}
.shaper,.shaper1 {
    border-radius: 34px;
}
  
.shaper:before,.shaper1:before {
   border-radius: 50%;
}
.menu-container{
    display: flex;
    width: 100%;
    height:92%;
}
.menu-leftContainer{    
    width: 22%;
    height: 100%;
    background-color: rgb(20,34,48);
}
.menu-list{
    display: flex;
    width: 100%;
    height: 455px;
    /* background-color: rgb(20,34,48); */
    overflow-y: hidden;
    flex-direction: column;
    overflow-x: hidden;
}
.list-container{
    width:66px;
    height:60px;
    /* background-color: #6db188; */
    padding-top: 6px;
    cursor: pointer;
    border-bottom: 1px solid rgb(20,34,48);
    border-left: 2px solid rgb(20,34,48);
    color:#4E9CC1
}
.list-container:hover{
    background-color: rgb(26,43,60);
}
.list-icon{
    display: flex;
    width: 28px;
    height: 28px;
    margin:auto;
    font-family: 'Material Icons';
    justify-content: center;
    align-items: center;
    font-size: 18px;   
}
.list-content{
    width: 100%;
    height: 20px;
    margin: auto;
    font-family: sans-serif;
    font-size: 9px;
    display: flex;
    justify-content: center; 
}
.dark1{
    background-color: rgb(26,43,60);
    border-left: 2px solid #6CA534;
    color: #6CA534;
}
.menu-list::-webkit-scrollbar {
    width: 4px;
}
.menu-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b3;
}
.menu-list:hover{
    overflow-y: auto;
}
.menu-displayer{
    width: 78%;
    height: 100%;
    /* background-color:darkolivegreen; */
}
#chat-displayer{
    width: 100%;
    height: auto;
    /* display: none; */
}
#heading{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    font-family: Lato;
    font-weight: bold;
    padding-left: 18px;
    font-size: 17px;
    color: #d4d4d4;
}
.conversation-dv{
    width: 100%;
    height: auto;
    font-family: Lato;
    padding-top: 10px;
}
.conversation-dv h3{
    margin-left: 18px;
    color: #d4d4d4;
    font-size: 17px;
}
.conversation-dv a,.contact-profile a{
    font-size: 13px;
    float: right;
    text-decoration-style: dotted;
    color: #9c9c9c;
    margin-right: 11px;
}
.naming-dv{
    display: flex;
    width: 98%;
    height: 30px;
    /* background-color: darkred; */
    align-items: center;
    justify-content: end;
}
.indicating-dv{
    display: flex;
    width: 29px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.indicator{
    width: 6px;
    height: 6px;
    border-radius: 10px;
    outline: 1px solid #6e6e6e;
}
.indicate-icon{
    display: flex;
    width: 17px;
    height: 17px;
    font-family: "Material Icons";
    color: #6e6e6e;
}
.nameContain{
    display: flex;
    width: 62%;
    height: 25px;
    align-items: center;
    padding-left: 5px;
    font-size: 14px;
    color: #ffffff;
}
.pin,.close,.pin-icon{
    display: flex;
    width: 25px;
    height: 25px;
    font-family: 'Material Icons';
    justify-content: center;
    align-items: center;
    transform: rotateZ(40deg);
    color: #9c9c9c;
    cursor: pointer;
    visibility: hidden;
}
.close{
    transform: none;
}
.pin:hover,.close:hover{
    color: #FFF;
}
.right-container{
    position: relative;
    grid-area: 1/2/2/2;
    background-color: rgb(28,42,56);
}
.mainPage{
    width: 100%;
    height: 100%;
    background-color: rgb(28,42,56);
    /* display: none; */
}
.mainpage-header{
      position: relative;
      display: flex;
      width: 100%;
      height:62px;
      background-color: rgb(21,32,43);
      font-family: "Lato";
      align-items: center;
      padding-left: 35px;
}
#feed{
    display: flex;
    width: 112px;
    height: 100%;
    font-size: 14px;
    align-items: center;
    color: white;
}
.video-icon{
    display: flex;
    width: 80px;
    height: 100%;
    background-color: rgb(38,56,73);
    font-family: 'Material Icons';
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #a3a3a3;
}
#txt{
    margin-right: 15px;
    margin-left: 20px;
    font-size: 15px;
    color: white;
}
.status-icons{
    display: flex;
    width: 55%;
    height: 100%;
    grid-gap: 13px;
    align-items: center;
}
.collaboration-dv,.engaged-dv{
    width: 55px;
    height: 37px;
    background-color: rgb(38,56,73);
    border-radius: 20px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/remote_status/laptop.svg);
    background-repeat: no-repeat;
    background-position: -4px 4px;
    background-size: 57px 26px;
    border: 2px solid #27BB6B;
    cursor: pointer;
}
.engaged-dv{
    width: 53px;
    height: 35px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/remote_status/focussed.svg);
    border: 1px solid #38485A;
    background-position: -3px 4px;
    background-size: 57px 25px;
    background-color: transparent;
}
.mealbreak-dv{
    display: flex;
    width: 110px;
    height: 37px;
    border-radius: 22px;
    border: 1px solid #38485A;
    cursor: pointer;
}
.meal-icon{
    width: 32%;
    height: 37px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/remote_status/meal.svg);
    background-repeat: no-repeat;
    background-position: 9px 5px;
}
.meal-duration{
    display: flex;
    width: 68%;
    height: 37px;
    font-size: 14px;
    align-items: center;
    padding-left: 5px;
    color: #afb3b7;
}
.shortbreak-dv{
    display: flex;
    width: 128px;
    height: 37px;
    border-radius: 22px;
    align-items: center;
    border: 1px solid #38485A;
    cursor: pointer;
}
.icon-dv,.icon-dv1{
    width: 28%;
    height: 37px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/remote_status/coffee.svg);
    background-repeat: no-repeat;
    background-position: 8px 6px;
}
.icon-content{
    display: flex;
    width: 54%;
    height: 20px;
    font-size: 14px;
    align-items: center;
    border-right: 1px solid #38485A;
    color: #afb3b7;
}
.down-arrow{
    display: flex;
    width: 15%;
    height: 37px;
    font-family: 'Material Icons';
    align-items: center;
    font-size: 19px;
    color: #475461;
}
.elips-dv{
    display: flex;
    width: 128px;
    height: 37px;
    border-radius: 22px;
    align-items: center;
    border: 1px solid #38485A;
    cursor: pointer;
}
.icon-dv1{
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/remote_status/dnd.svg);
}
.check-dv{
    display: flex;
    width: 105px;
    height: 30px;
    border-radius: 22px;
    margin-left: 22px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid green;
    color: green;
    cursor: pointer;
}
.cancel{
    position: absolute;
    display: flex;
    width: 27px;
    height: 27px;
    background-color: rgb(28,42,56);
    font-family: 'Material Icons';
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 8px;
    color: #475461;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    right: 0;
}
.mainpage-displayer{
    width: 100%;
    height: 89%;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.departments{
    position: relative;
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: space-between;
}
.depart-list{
    display: flex;
    width: 18%;
    height: 54%;
    align-items: center;
    font-family: "Lato";
    cursor: pointer;
}
.depart-list h3{
    color: #6CA534;
    font-size: 19px;
}
#count{
    color: #778491;
    font-size: 16px;
}
.drop-list{
    display: flex;
    width: 27px;
    height: 100%;
    font-family: 'Material Icons';
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.btn-dv{
    display: flex;
    width: 387px;
    height: 70%;
    justify-content: space-between;
}
.meet-dv{
    display: flex;
    width: 45%;
    height: 42px;
    background-color: #6CA534;
    border-radius: 23px;
    cursor: pointer;
}
.schedule-dv{
    display: flex;
    width: 47%;
    height: 42px;
    background-color: #6CA534;
    border-radius: 23px;
    cursor: pointer;
}
.call-icon{
    display: flex;
    width: 40px;
    height: 100%;
    font-family: 'Material Icons';
    align-items: center;
    justify-content: end;
    font-size: 20px;
    color: white;
}
.meet-content{
    display: flex;
    width: 99px;
    height: 100%;
    align-items: center;
    font-family: "Lato";
    padding-left: 10px;
    border-right: 1px solid #878787;
    color: white;
    font-size: 15px;
}
.drop-icon{
    display: flex;
    width: 32px;
    height: 100%;
    font-family: 'Material Icons';
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.schedule-icon{
    display: flex;
    width: 42px;
    height: 100%;
    font-family: 'Material Icons';
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-left: 19px;
    color: white;
}
.schedule-content{
    display: flex;
    width: 147px;
    height: 100%;
    align-items: center;
    font-family: Lato;
    padding-left: 6px;
    color: white;
    font-size: 15px;
}
.search-dv{
    display: flex;
    width: 100%;
    height: 38px;
    background-color: rgb(21,32,43);
    border: 1px solid #38485A;
    border-radius: 6px;
}
.search-icon2{
    display: flex;
    width:30px;
    height: 100%;
    font-family: "Material Icons";
    align-items: center;
    justify-content: end;
    font-size: 23px;
    color: #475461;
}
#myIput,#iput2{
  width: 96%;
  height: 100%;  
  font-size: 14px;
  padding-left: 10px; 
  outline: none;
  border: none;
  background-color: transparent;
  color: white; 
  font-family: "Lato";
}
.status-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 79%;
    grid-gap: 12px;
}
.work-status,.away-status,.meeting-status{
    width: 100%;
    height: 100%;
}
.work-txt,.away-txt,.meeting-txt{
    display: flex;
    width: 100%;
    height: 55px;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 6px;
    font-weight: bold;
    font-family: "Lato";
    font-size: 17px;
    color: #e1e3e4;
}
.status-count{
    color:#778491;
}
.member-dv{
    width: 100%;
    height: 86%;
    background-color: rgb(21,32,43);
    border-radius: 10px;
}
.member-status{
    display: flex;
    width: 100%;
    height: 35px;
    background-color:#121a24;
    align-items: center;
    grid-gap: 5px;
    padding-left: 13px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px 10px 0px 0px;
    color: #999;
}
.test-colour{
    color: #6CA534;
}
.circle{
    width: 5px;
    height: 5px;
    background-color: #5c6977;
    border-radius: 10px;
}
.member-list{
    width: 100%;
    height:44vh;
    padding: 5px 8px 0px 8px;
    overflow-y: hidden;
}
.member-list::-webkit-scrollbar {
    width: 4px;
}
.member-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b3;
}
.member-list:hover{
    overflow-y: auto;
}
.person-container{
    display: flex;
    width: 278px;
    height: 62px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.profile-dv{
    display: flex;
    width: 60px;
    height: 100%;
    justify-content: center;
    align-items: center;    
}
.user-profile{
    display: flex;
    width: 38px;
    height: 38px;
    background-image: url(https://contacts.zoho.in/file?ID=60012219164&exp=6000&t=user&fs=thumb);
    background-size: cover;
    border-radius: 20px;
    justify-content: end;
    align-items: end;
    padding-bottom: 2px;
}
.fun,.fun2{
    width: 10px;
    height: 10px;
    background-color: #D6D6D8;
    border-radius: 10px;
    border: 1px solid black;
}
.wonder{
    background-color: #14b474;
}
.content-dv{
    width: 66%;
    height: 80%;
}
.user-name,.user-id{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    font-family: "Lato";
    font-size: 16px;
    color: #e1e3e4;
}
.user-id{
     font-size: 13px;
     color: #778491;
}
.cell,.vdo-dv{
    display: flex;
    width: 28px;
    height: 28px;
    font-family: "Material Icons";
    background-color: #15202B;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 17px;
    color: #475461;
    visibility: hidden;
}
.cell:hover{
    border: 1px solid #475461;
    color: #6ca534;
}
.vdo-dv{
    background-color: transparent;
    color: #56606A;
    font-size: 22px;
    visibility: visible;
}
.meeting-subdv{
    width: 100%;
    height: 85%;
    background-color: rgb(21,32,43);
    border-radius: 10px
}
.meeting-displayer{
    display: flex;
    width: 100%;
    height: 88%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #afb3b7;
    font-family: "Lato";    
}
.history-dv{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(26,46,51);
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    font-size: 14px;
    color: #afb3b7;
}
.history-dv a{
    font-size: 14px;
    font-weight: bold;
    text-decoration-style: dashed ;
    color: #afb3b7;
}
#contact-displayer{
     width: 100%;
     height: 100%;
     overflow-y: hidden;
     display: none;
}
#contact-displayer::-webkit-scrollbar {
    width: 4px;
}
#contact-displayer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b3;
}
#contact-displayer:hover{
    overflow-y: auto;
}
.contact-dv,.Bots-dv{
    display: flex;
    width: 222px;
    height: 50px;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 15px;
    padding-bottom: 7px;
    font-family: Lato;
}
.contact-dv h3,.Bots-dv h3{
    font-size: 17px;
    color: #d4d4d4;
}
.add-icon,.add2{
    display: flex;
    width: 22px;
    height: 22px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #9c9c9c;
}
.contact-profile{
    width: 229px;
    height: 78%;
    font-family: "Lato";
}
.naming-container,.Taz-dv{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    padding-left: 15px;
}
.contact-profileIcon{
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(https://contacts.zoho.in/file?ID=60012219164&exp=6000&t=user&fs=thumb);
    background-size: cover;
}
.contact-profileContent{
    display: flex;
    width: 82%;
    height: 25px;
    align-items: center;
    padding-left: 10px;
    font-size: 14px;
    color: #FFF;
}
.Bots-container{
    width: 100%;
    height: 66px;
    font-family: "Lato";
}
.Bots-dv{
    height: 30px;
}
.taz-icon{
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/taz.png);
    background-size: cover;
}
.project-icon{
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/zoho-projects.png);
    background-size: cover;
    background-color: #142230;
}
.channel-displayer{
      width: 100%;
      height: 60%;
      padding: 8px 17px 0px 17px;
      font-family: "Lato";
      display: none;
}
.channel-search{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: rgb(33,55,77);
    border-radius: 5px;
}
.channel-searchIcon{
    display: flex;
    width: 26px;
    height: 30px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #afb3b7;
}
#iput2{
    width: 168px;
    height: 30px;
    padding: 0px;
    font-size: 13px;
}
#iput2::placeholder{
    color: grey;
}
.channel-content{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: flex-end;
    justify-content: space-between;
}
.content-leftdv{
    display: flex;
    width: 136px;
    height: 35px;
    grid-gap: 7px;
    align-items: end;
}
.content-leftdv h3{
    font-size: 17px;
    color: #e1e3e4;
}
.content-leftdv p{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
    color: #475461;
}
#roll-dv{
    width: 4px;
    height: 4px;
    background-color: #475461;
    border-radius: 10px;
    margin-bottom: 5px;
}
.channel-subcontainer{
    width: 100%;
    height: 50%;
    padding-top: 8px;
}
.channel-subdv1,.channel-subdv2{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    cursor: pointer;
}
.subdv1-icon,.subdv2-icon{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #458deb;
    background-image: url(org.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.subdv2-icon{
    font-size: 15px;
    background-color: transparent;
    background-image: none;
    color: #475461;
}
.personal-icon{
    background-image: url(connect.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    background-color: #f26c6c;
}
.subdv1-content,.subdv2-content{
    display: flex;
    width: 152px;
    height: 30px;
    align-items: center;
    font-size: 13px;
    padding-left: 10px;
    font-weight: bold;
    color: #458deb;
}
.subdv2-content{
    width: 150px;
    font-weight: normal;
    color: #e1e3e4;
}
.unique{
    color: #f26c6c;
}
.join-icon{
    display: flex;
    width: 26px;
    height: 17px;
    border-radius: 11px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    color: #9c9c9c;
    font-size: 19px;
}
.join-icon:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.eco{
    font-size: 13px;
}
.history-displayer{
      width: 100%;
      height: auto;
      display: none;
}
.history-head{
    display: flex;
    width: 100%;
    height: 42px;
    font-family: "Lato";
    align-items: flex-end;
    padding-left: 15px;
    font-size: 15px;
    color: #e1e3e4;
}
.history-subdv{
    width: 100%;
    height: auto;
    padding-top: 5px;
}
.call-dv{
    background-color: rgba(44, 73, 102, 1);
    border-left: 2px solid #6CA534;
}
.call-dv,.meeting-dv,.conversation-dv2{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}
.meeting-dv:hover,.conversation-dv2:hover{
    background-color:rgba(44, 73, 102, 0.4);
}
.icon{
    display: flex;
    width: 25px;
    height: 25px;
    font-family: "Material Icons";
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #859ca7;
}
.txt{
    display: flex;
    width: 198px;
    height: 25px;
    align-items: center;
    padding-left: 5px;
    font-family: "Lato";
    font-size: 14px;
    color: #fff;
}
.right-callContainer{
    width: 100%;
    height: 100%;
    background-color:rgb(21,32,43);
    display: none;
}
.callContainer-header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #38485A;
}
.create-calls,.create-meeting{
    display: flex;
    width: 360px;
    height: 50px;
    align-items: center;
    padding-left: 30px;
}
.create-callIcon,.create-meetingIcon{
    display: flex;
    width: 25px;
    height: 25px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    color: #475461;
}
.create-callTxt,.create-meetingTxt{
    display: flex;
    width: 134px;
    height: 30px;
    align-items: center;
    font-family: "Lato";
    font-weight: bold;
    padding-left: 5px;
    color: #fff;
}
.create-btnContainer{
    display: flex;
    width: 606px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.call-types{
    display: flex;
    width: 280px;
    height: 38px;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    border-radius: 5px;
    font-family: "Lato";
    border: 1px solid #38485A;
}
.all-dv,.missedcall-dv,.receivedcall-dv{
    display: flex;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: #6CA534;
    background-color: #1C2A38;
    cursor: pointer;
}
.all-dv:hover,.missedcall-dv:hover,.receivedcall-dv:hover{
    background-color: #1C2A38;
}
.missedcall-dv{
    width: 84px;
    height: 30px;
    color: #778491;
    background-color:transparent
}
.receivedcall-dv{
    width: 94px;
    height: 30px;
    color: #778491;
    background-color:transparent
}
.call-btn{
    display: flex;
    width: 112px;
    height: 30px;
    background-color: #6CA534;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.call-logs,.meeting-logs{
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #38485A;
    align-items: center;
    justify-content: space-between;
    padding: 0px 36px;
}
.call-logs h3,.meeting-logs h3{
    font-family: "Lato";
    font-size: 14px;
    color: #fff;
}
.logsOf-dv,.meeting-logOf{
    display: flex;
    width: 132px;
    height: 33px;
    border: 1px solid #38485A;
    font-family: "Lato";
    grid-gap: 5px;
    font-size: 13px;
    align-items: center;
    padding-left: 7px;
    border-radius: 5px;
    color: #afb3b7;
    cursor: pointer;
}
.drop-menudv{
    display: flex;
    width: 67px;
    height: 30px;
    align-items: center;
}
.individual{
    font-size: 13px;
    color: #fff;
}
.down-menuIcon{
    display: flex;
    width: 20px;
    height: 30px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    font-size: 21px;
    color: #475461;
}
.history-Container,.meeting-history{
    display: flex;
    width: 100%;
    height: 82%;
    align-items: center;
    justify-content: center;
}
.empty-displayer{
    width: 250px;
    height: auto;
}
.empty-icon{
    width: 100%;
    height: 118px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/dark_directcall_illustration.svg);
    background-size: 81% 94%;
    background-repeat: no-repeat;
    background-position: 22px -10px;
}
.empty-content{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    color: #778491;
    font-size: 17px;
}
.right-meetingContainer{
    width: 100%;
    height: 100%;
    background-color:rgb(21,32,43);
    display: none;
}
.meetingContainer-header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center; 
    justify-content: space-between;
    padding: 0px 30px;
    border-bottom: 1px solid #38485A;
}
.create-meeting{
    padding: 0;
}
.create-meetingIcon{
    font-size: 19px;
}
.btn-container{
    display: flex;
    width: 345px;
    height: 50px;
    grid-gap: 18px;
    align-items: center;
}
.meeting-dv1{
    display: flex;
    width: 154px;
    height: 30px;
    background-color: rgb(108,165,52);
    border-radius: 20px;
}
.meeting-Icon,.scheduling-Icon{
    display: flex;
    width: 30px;
    height: 30px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: end;
    color: #fff;
}
.meeting-content{
    display: flex;
    width: 82px;
    height: 30px;
    align-items: center;
    font-family: "Lato";
    padding-left: 8px;
    border-right: 1px solid rgb(0 0 0 / 20%);
    font-size: 14px;
    color: #fff;
}
.drop-option{
    display: flex;
    width: 37px;
    height: 30px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
}
.scheduling-dv1{
    display: flex;
    width: 178px;
    height: 30px;
    background-color: rgb(108,165,52);
    border-radius: 20px;
}
.scheduling-Icon{
    width: 38px;
    font-size: 18px;
}
.scheduling-content{
    display: flex;
    width: 138px;
    height: 30px;
    font-family: "Lato";
    align-items: center;
    font-size: 14px;
    padding-left: 8px;
    color: #fff;
}
.meeting-logOf{
    width: 159px;
}
.meeting-menudv{
    display: flex;
    width: 93px;
    height: 30px;
    align-items: center;
}
.meeting-emptyIcon{
    width: 100%;
    height: 192px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/dark_groupcall_illustration.svg);
    background-size: 78% 96%;
    background-repeat: no-repeat;
    background-position: 25px -7px;
}
.right-conversation{
    width: 100%;
    height: 100%;
    background-color: #15202B;
    display: none;
}
.conversation-header,.conversation-subheader{
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #38485A;
    font-family: "Lato";
    align-items: center;
    justify-content: space-between;
    padding: 0px 33px;
}
.conversation-subheader{
    position: relative;
    justify-content: inherit;
}
.conversation-container{
    display: flex;
    width: 200px;
    height: 40px;
}
.conversation-icon{
    display: flex;
    width: 30px;
    height: 40px;
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #e1e3e4;
}
.conversation-content{
    display: flex;
     width: 165px;
     height: 40px;  
     font-weight: bold;
     align-items: center;
     color: #fff;
}
.chat-btn{
    display: flex;
    width: 105px;
    height: 31px;
    background-color: #6CA534;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.all-dropdv{
    display: flex;
    width: 152px;
    height: 38px;
    background: #1C2A38;
    border-radius: 5px;
    cursor: pointer;
}
.filter-icon{
    display: flex;
    width: 30px;
    height: 38px;
    font-family: "Material Icons";
    justify-content: center;
    font-size: 24px;
    color: #475461;
    line-height: 34px;
}
.filter-icon:hover,.arrow-icon:hover{
   color: #6CA534;
}
.all-content{
    display: flex;
    width: 98px;
    height: 38px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
.arrow-icon{
    display: flex;
    width: 22px;
    height: 38px;
    font-family: "Material Icons";
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #475461;
}
.conversation-searchbar{
    display: flex;
    width: 348px;
    height: 38px;
    border: 1px solid #475461;
    border-radius: 5px;
    margin-left: 16px;
}
.searchbar-icon{
    display: flex;
    width: 35px;
    height: 38px;
    /* background-color: maroon; */
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #475461;
}
#searchbar-iput{
    width: 305px;  
    font-size: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
}
.hide-conversation{
    display: flex;
    width: 250px;
    height: 38px;
    align-items: center;
    justify-content: center;
}
#checkiput,#cal-Iput{
    width: 16px;
    height: 16px;
    appearance: none;
    border: 1px solid #475461;
    border-radius: 3px;
    cursor: pointer;
}
#checkiput:checked,#cal-Iput:checked{    
    background-image: url(check.png);
    background-size: 12px 12px;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-color: #6CA534;
}
.hide-all{
    width: 115px;
    height: 38px;
    font-size: 15px;
    padding-left: 11px;
    color: #fff;
}
.mark-conversation{
    display: flex;
    width: 168px;
    height: 35px;
    /* background-color: yellowgreen; */
    justify-content: center;
    border: 1px solid #475461;
    border-radius: 20px;
    cursor: pointer;
}
.markAll-icon{
    display: flex;
    width: 30px;
    height: 35px;
    /* background-color: tomato; */
    font-family: "Material Icons";
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #475461;
}
.markAll-content{
    display: flex;
    width: 107px;
    height: 35px;
    align-items: center;
    font-size: 14px;
    padding-left: 5px;
    color: #475461;
}
.result-container{
    display: flex;
    width: 100%;
    height: 82%;
    justify-content: center;
    padding-top: 50px;   
}
.result-dv{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 320px;
    font-family: "Lato";
    align-items: center;
    justify-content: space-around;
}
.result-icon{
    width: 149px;
    height: 120px;
    background-image: url(https://static.zohocdn.com/chat/source/officechat/images/default/emptystate/search_empty_dark.svg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: -2px -14px;
}
.result-content{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #778491;
}
#trynew-btn{
    display: flex;
    width: 145px;
    height: 38px;
    background-color: #6CA534;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    border: none;
    color: #fff;
}









